<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fribergs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FriBergs_CarRental.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light #e3ebee mb-3">
            <div class="container d-flex justify-content-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/Screenshot 2025-06-21 at 18-36-51 Projektuppgift.pdf.png" 
                    style="width: 50px; height: 50px;"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                @if (User.IsInRole("Admin"))
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav d-flex flex-row gap-2">
                            <li class="nav-item me-2">
                                <a class="btn btn-secondary nav-button" asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="btn btn-secondary nav-button" asp-area="" asp-controller="Cars" asp-action="Index">Bilar</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="btn btn-secondary nav-button" asp-area="" asp-controller="ApplicationUser" asp-action="Index">Användare</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="btn btn-secondary nav-button" asp-area="" asp-controller="AdminCustomerOrders" asp-action="Index">Hantera beställningar</a>
                            </li>
                        </ul>
                    </div>
                }
                @if (User.IsInRole("Customer"))
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav d-flex flex-row gap-2">
                            <li class="nav-item">
                                <a class="btn btn-secondary nav-button" asp-area="" asp-controller="Cars" asp-action="Index">Bilar</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-secondary nav-button" asp-area="" asp-controller="UserCustomerOrders" asp-action="Index">Mina beställningar</a>
                            </li>
                        </ul>
                    </div>
                }



                <partial name="_LoginPartial" />
            </div>
            </div>
        </nav>
    </header>
    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FriBergs_CarRental - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
