@model FriBergs_CarRental.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Tillverkare
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            Modell
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>       
    </dl>
</div>


<div>
    @if (User.IsInRole("Customer"))
    {
        <a asp-controller="UserCustomerOrders" asp-action="CreateBooking" asp-route-id="@Model?.Id" class="btn btn-primary">Boka bilen!</a>
    }
    else if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Ändra</a>     
        <a asp-action="Index">Tillbaka till listan</a >
    }
    else if (!User.Identity.IsAuthenticated)
    {
          <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Boka bilen!</a>
    }

</div>


<div id="displayImages">
</div>


@section Scripts {
    @{      await Html.RenderPartialAsync("_ValidationScriptsPartial");   }
<script>
    (function () {

        $(document).ready(function () { 
                    
                let imageString = @Html.Raw(Json.Serialize(Model.Images));
                const imageContainer = $("#displayImages");
                function updateImagePreview() {
                        imageContainer.empty();

                        imageString.forEach(value => {
                            imageContainer.append(
                                $('<img>', {
                                    src: value,
                                    style: "width: 300px; height: 200px; object-fit: cover; margin-bottom: 10px;"
                                })
                            );
                        });
                }
        
               updateImagePreview();
        
        })
           
    })();
     



</script>




}